body {
    background: #F0F1F7;
    color: #707071;
}

.btn-primary {
    color: #845ADF;
    background: #F2EEFC;
    border: 0;
}

.btn-primary:hover {
    color: white;
    background: #845ADF;
    border: 0;
}

.btn-secondary {
    color: #23B7E5;
    background: #E9F8FC;
    border: 0;
}

.btn-secondary:hover {
    color: white;
    background: #23B7E5;
    border: 0;
}

.btn-info {
    color: #49B6F5;
    background: #ECF8FE;
    border: 0;
}

.btn-info:hover {
    color: white;
    background: #49B6F5;
    border: 0;
}

.btn-success {
    color: #26BF94;
    background: #E9F8F4;
    border: 0;
}

.btn-success:hover {
    color: white;
    background: #26BF94;
    border: 0;
}

.btn-warning {
    color: #F5B849;
    background: #FEF8EC;
    border: 0;
}

.btn-warning:hover {
    color: white;
    background: #F5B849;
    border: 0;
}

.btn-danger {
    color: #E6533C;
    background: #FCEDEB;
    border: 0;
}

.btn-danger:hover {
    color: white;
    background: #E6533C;
    border: 0;
}

.text-primary {
    color: #845ADF;
}

.text-info {
    color: #23B7E5;
}

.text-success {
    color: #26BF94;
}

.text-warning {
    color: #F5B849;
}

.text-danger {
    color: #E6533C;
}

.bg-primary {
    background: #845ADF;
}

.bg-info {
    background: #23B7E5;
}

.bg-success {
    background: #26BF94;
}

.bg-warning {
    background: #F5B849;
}

.bg-danger {
    background: #E6533C;
}

/* datatable start */
div.dt-buttons>.dt-button {
    margin-left: 0px !important;
    margin-bottom: 18px !important;
    padding: 3px 10px !important;
    border: 0px !important;
    border-radius: 3px !important;
    color: #845ADF !important;
    background: #F2EEFC !important;
}

div.dt-buttons>.dt-button:hover {
    margin-left: 0px !important;
    margin-bottom: 18px !important;
    padding: 3px 10px !important;
    border: 0px !important;
    border-radius: 3px !important;
    color: white !important;
    background: #845ADF !important;
}

.page-item .page-link {
    margin: 0 5px;
    padding: 3px 10px;
    border: 0px;
    border-radius: 3px;
    color: #845ADF;
    background: #F2EEFC;
}

.page-item .page-link:hover {
    background: #23B7E5;
    color: white;
}

li.paginate_button.page-item.active .page-link {
    background: #23B7E5;
    color: white;
}

div.dataTables_wrapper div.dataTables_info {
    color: #845ADF;
}

table.dataTable {
    margin-bottom: 25px !important;
}

table.dataTable th {
    font-size: 15px;
    color: #333335;
}

table.dataTable td {
    font-size: 15px;
    color: #333335;
}

/* datatable end */