@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Poppins", sans-serif; */
    font-family: "Roboto";
}

.w-28 {
    width: 28%;
}

.card {
    border: 0;
}

span#passwordShow {
    cursor: pointer;
}

td.w-150 {
    min-width: 150px;
}

.nice-select {
    min-width: 140px !important;
    width: 100% !important;
    height: 36px !important;
    line-height: 36px !important;
}
.nice-select.open .list {
    width: 100% !important;
}