@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Poppins", sans-serif; */
    font-family: "Roboto";
}

.w-28 {
    width: 28%;
}

.card {
    border: 0;
}

span#passwordShow {
    cursor: pointer;
}

td.w-150 {
    min-width: 150px;
}

select.form-control{
    -webkit-appearance: menulist!important;
    -moz-appearance: menulist!important;
    -ms-appearance: menulist!important;
    -o-appearance: menulist!important;
    appearance: menulist!important;
}